.nav {
    grid-area: n;
    background-color: darkblue;
    height: min-content;
}

.item {
    padding:20px 0;
    border-bottom: 1px white solid;
}


.item a:hover{
    color: gold;

}

.item a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin-left: 20px;

}

.item a.active {
    color: gold;
    font-weight: bolder;

}
.sidebar {
    color: white;


}
